/* Font files are downloaded from Google Fonts */

/* === FIRA SANS === */
/* ================= */

@font-face {
  font-family: "Fira";
  font-display: swap;
  src: url(../font-files/Fira_Sans/FiraSans-300-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Fira";
  font-display: swap;
  src: url(../font-files/Fira_Sans/FiraSans-300-LightItalic.ttf)
    format("truetype");
  font-weight: 300;
  font-style: italic;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Fira";
  font-display: swap;
  src: url(../font-files/Fira_Sans/FiraSans-400-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Fira";
  font-display: swap;
  src: url(../font-files/Fira_Sans/FiraSans-400-RegularItalic.ttf)
    format("truetype");
  font-weight: 400;
  font-style: italic;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Fira";
  font-display: swap;
  src: url(../font-files/Fira_Sans/FiraSans-500-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Fira";
  font-display: swap;
  src: url(../font-files/Fira_Sans/FiraSans-500-MediumItalic.ttf)
    format("truetype");
  font-weight: 500;
  font-style: italic;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Fira";
  font-display: swap;
  src: url(../font-files/Fira_Sans/FiraSans-600-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Fira";
  font-display: swap;
  src: url(../font-files/Fira_Sans/FiraSans-600-SemiBoldItalic.ttf)
    format("truetype");
  font-weight: 600;
  font-style: italic;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Fira";
  font-display: swap;
  src: url(../font-files/Fira_Sans/FiraSans-700-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Fira";
  font-display: swap;
  src: url(../font-files/Fira_Sans/FiraSans-700-BoldItalic.ttf)
    format("truetype");
  font-weight: 700;
  font-style: italic;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Fira";
  font-display: swap;
  src: url(../font-files/Fira_Sans/FiraSans-800-ExtraBold.ttf)
    format("truetype");
  font-weight: 800;
  font-style: normal;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Fira";
  font-display: swap;
  src: url(../font-files/Fira_Sans/FiraSans-800-ExtraBoldItalic.ttf)
    format("truetype");
  font-weight: 800;
  font-style: italic;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* === Mada === */
/* ============ */

@font-face {
  font-family: "Mada";
  font-display: swap;
  src: url(../font-files/Mada/Mada-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Mada";
  font-display: swap;
  src: url(../font-files/Mada/Mada-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Mada";
  font-display: swap;
  src: url(../font-files/Mada/Mada-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Mada";
  font-display: swap;
  src: url(../font-files/Mada/Mada-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Mada";
  font-display: swap;
  src: url(../font-files/Mada/Mada-bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Mada";
  font-display: swap;
  src: url(../font-files/Mada/Mada-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu Mono";
  font-display: swap;
  src: url(../font-files/Ubuntu_Mono/UbuntuMono-Regular.ttf) format("truetype");
  font-style: normal;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Source Code Pro";
  font-display: swap;
  src: url(../font-files/Source_Code_Pro/SourceCodePro-Regular.ttf)
    format("truetype");
  font-style: normal;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
