@import url(./fonts.css);
@import url(prismjs/theme.min.css);
@import url(katex/katex.min.css);

:root {
  --font-family-text: "Mada", sans-serif;
  --font-family-title: "Fira", sans-serif;

  --px1: 0.0625rem;
  --px6: 0.375rem;
  --px8: 0.5rem;
  --px12: 0.75rem;
  --px14: 0.875rem;
  --px18: 1.125rem;
  --px20: 1.25rem;
  --px24: 1.5rem;
  --px30: 1.875rem;
  --px36: 2.25rem;
  --px42: 2.625rem;
}

/* ===== Reset ===== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ===== Scaffolding ===== */

html {
  font-family: var(--font-family-text);
  font-size: var(--px14);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  margin-bottom: 10rem;

  line-height: 1.925;
  letter-spacing: 0.0425rem;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.light {
  --bg: #eae1d0; /* alt: #FAF4E6 or #EDE4D5*/
  --light-1: #f9f9f9;
  --dark-1: #404040;
  --subtle-dark-1: rgba(0, 0, 0, 0.2);
  --subtle-dark-2: rgba(0, 0, 0, 0.5);
  --subtle-dark-3: rgba(0, 0, 0, 0.7);
  --hover-1: #bdbf73;
  --hover-2: #d1d9b5;
  --navbar-span: rgba(255, 255, 255, 0.418);
  --footer: rgba(255, 255, 255, 0.137);

  --sort-newest: #9c9c9c;
  --sort-to: #c09c6f;
  --sort-oldest: #bf7c2a;

  color: var(--dark-1);
  background: var(--bg);
}

body.dark {
  --bg: #282c35;
  --light-1: #f9f9f9;
  --dark-1: #afadad;
  --subtle-dark-1: rgba(0, 0, 0, 0.2);
  --subtle-dark-2: rgba(0, 0, 0, 0.5);
  --subtle-dark-3: rgba(182, 181, 180, 0.7);
  --hover-1: #452858;
  --hover-2: #806692;
  --navbar-span: rgba(122, 122, 122, 0.418);
  --footer: rgba(59, 59, 59, 0.137);
  --sort-newest: #a76c24;
  --sort-to: #636362;
  --sort-oldest: #5f503e;

  color: rgb(199, 199, 199);
  background: var(--bg);
}

p {
  margin: 0rem;
}
a {
  color: #92315e;
  text-decoration-color: var(--subtle-dark-1);
  text-decoration-thickness: 2px;
}

a:hover {
  font-weight: 800;
}

h1,
h2 {
  font-family: var(--font-family-title);
}

table {
  display: block;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  margin: var(--px14);
}

thead,
tbody {
  white-space: nowrap;
}

th {
  border-bottom: 2px solid var(--subtle-dark-1);
}

tfoot th {
  border-top: 1px solid var(--subtle-dark-1);
}

td {
  border-bottom: 1px solid var(--subtle-dark-1);
}

th,
td {
  text-align: left;
  padding: var(--px12) !important;
  hyphens: auto;
  word-break: break-word;
}

tbody tr:nth-child(odd) {
  background-color: var(--subtle-dark-1);
}

/* ===== Navigator ===== */
/* ===================== */

.navbar {
  width: 100%;
  /* background-color: yellow; */
  /* margin-bottom: var(--px12); */
  margin-top: var(--px18);
}

.navbar__container {
  /* background-color: yellowgreen; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.nav__left {
  font-family: var(--font-family-title);
  line-height: 0;
  padding-top: var(--px18);
  display: flex;
}

.nav__left a {
  text-decoration: none;
  color: var(--dark-1);
  display: flex;
  align-items: center;
  margin-bottom: var(--px24);
}

.nav__left h1 {
  font-weight: 900;
  font-size: var(--px36);
}

.nav__left h2 {
  font-size: var(--px18);
  font-weight: 300;
  margin-top: 24px;
}

.nav__right {
  display: flex;
  flex-wrap: wrap;
}

.nav__right a {
  font-family: var(--font-family-title);
  font-weight: 400;
  font-size: var(--px18);
  color: var(--dark-1);
  text-decoration: none;

  background-color: var(--navbar-span);
  border: 1px solid var(--subtle-dark-1);
  border-radius: 3px;

  margin: var(--px8);
  padding: var(--px6) var(--px12);

  box-shadow: 3px 3px var(--subtle-dark-2);
}

.nav__right a:hover,
.nav__right a:hover:active,
.nav__right a:hover:focus {
  background: var(--hover-2);
  /* box-shadow: 4px 4px #d1d9b5; */
  transition: box-shadow 200ms ease, transform 200ms ease;
}

/* ===== About & Contact ===== */
/* =========================== */

.blog__post-content-center {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 48rem;
  padding: var(--px24);
}

.about__container,
.contact__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10rem;
}

.about__center,
.contact__center {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 55rem;
  padding: var(--px24);
}

.about__container p,
.contact__center p {
  font-size: 18px;
  margin-bottom: 24px;
}

.about__container h1,
.contact__container h1 {
  font-size: 21px;
  margin-block-end: 0;
}

pre {
  font-family: "Source Code Pro", monospace;
  background: #1d1f21;
  white-space: pre-wrap;
  padding: var(--px14);
  border-radius: 6px;
  color: #96cbfe;
  font-size: var(--px18);
}

/* ===== Blog: Post-List ===== */
/* =========================== */

.blog__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: var(--px24);
  margin-bottom: var(--px42);
}

.blog__content-left {
  flex-grow: 2;
}

.blog__content-center {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: -4rem;
}

.blog__list-container {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.blog__list {
  padding: var(--px18);
  border-bottom: 3px solid var(--subtle-dark-1);
  line-height: 1.65;
}

.blog__list a {
  text-decoration: none;
}

.blog__list:hover {
  background-color: var(--hover-1); /*#bdbf73;*/
  transition: 0.5s;
}

.blog__list-title {
  font-family: "Fira";
  font-weight: 800;
  font-size: 1.65rem;
  color: var(--dark-1);
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 1.25;
}

.blog__list-title-details > p {
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--subtle-dark-3);
  margin-bottom: var(--px6);
}

.blog__list-title-details div {
  display: flex;
  align-items: center;
  line-height: 1.25;
}

.blog__list-title-details span {
  color: var(--subtle-dark-3);
  background-color: rgba(97, 97, 97, 0.09);
  border-radius: 3px;
  padding: 4px 6px;

  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: var(--px8);
}

.blog__list-title-details div span p {
  font-size: var(--px14);
  font-weight: normal;
}
.blog__list-title-details .MuiSvgIcon-root {
  font-size: small;
  margin-right: var(--px6);
}

/* ===== Filter: Category ===== */
/* ============================ */

.blog__content-right {
  flex-grow: 1.5;
  display: flex;
  flex-direction: column;
}

.blog__content-right button {
  color: var(--dark-1);
  width: 50%;
  margin-top: var(--px14);
  padding: var(--px6);
  letter-spacing: 0.065rem;
  background: transparent;
  border: none;
  display: flex;
}

.blog__sortby-btn .MuiSvgIcon-root,
.blog__post-content .MuiSvgIcon-root {
  font-size: var(--px14);
}
/* #9c9c9c #c09c6f #bf7c2a */
#sortby-btn-newest {
  background-color: var(--sort-newest);
  padding: var(--px8);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

#sortby-btn-to {
  background-color: var(--sort-to);
  padding: var(--px8);
  align-self: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

#sortby-btn-oldest {
  background: var(--sort-oldest);
  padding: var(--px8);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.blog__dropdown {
  position: relative;
  display: inline-block;
}

.blog__dropdown button {
  background-color: #978c27d7;
  padding: var(--px6);
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.blog__dropdown-list {
  background-color: #f1f1f1;
  padding: var(--px6);
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 4px 4px var(--subtle-dark-2);
  z-index: 1;
}

.blog__dropdown-list p:hover {
  background-color: seagreen;
}

.blog__dropdown:hover .blog__dropdown-list {
  display: block;
}

/* ===== Blog: Post-Content ===== */
/* ============================== */

.blog__post-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: var(--px42);
  margin-bottom: var(--px42);
}

.blog__post-content-center {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 48rem;
  padding: var(--px24);
}

.blog__post-title {
  font-family: "Fira";
  font-weight: 800;
  font-size: var(--px42);
  color: var(--dark-1);
  margin-bottom: var(--px14);
  line-height: 1.25;
}

.blog__post-title-details {
  display: flex;
  align-items: center;
  line-height: 1.25;
}

.blog__post-title-details span {
  font-size: var(--px14);
  color: var(--subtle-dark-3);
  background-color: rgba(97, 97, 97, 0.09);
  border-radius: 3px;

  padding: 4px 6px;
  /* top right bottom left TRBL*/
  margin-right: var(--px6);

  display: flex;
  flex-direction: row;
  align-items: center;
}

.blog__post-content-center .MuiSvgIcon-root {
  font-size: small;
  margin-right: var(--px8);
}

.blog__post-body {
  font-family: "Mada", sans-serif;
  font-size: 18px;
  margin-top: var(--px42);
}

.blog__post-body p {
  margin: 0 0 1.5rem;
}

.gatsby-resp-image-wrapper {
  margin: var(--px30);
}

.blog__post-body img {
  /* border: var(--px12) solid var(--light-1); */
  /* outline: var(--subtle-dark-2) solid 2px; */
  border-radius: var(--px6);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.blog__post-back-btn {
  background-color: var(--subtle-dark-1);
  background-color: #bdbf73;

  border: none;
  border-radius: var(--px18);

  margin: var(--px12);
  padding: var(--px12);

  position: fixed;
  top: var(--px42);
  right: var(--px42);

  display: flex;
  justify-content: center;
  align-items: center;
}

.blog__post-back-btn:hover {
  background: #d1d9b5;
  transition: box-shadow 200ms ease, transform 200ms ease;
}

.blog__post-back-btn .MuiSvgIcon-root {
  font-size: small;
  margin-right: var(--px6);
}

.blog__post-content a:hover {
  font-weight: 800;
}

center {
  margin-top: var(--px14);
  margin-bottom: var(--px14);
}

blockquote {
  font-size: var(--px18);
  padding: 0;
  text-align: left;
}

/* === Pagination === */
/* ================== */

.pagination {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.pagination__prev > a,
.pagination__next > a {
  display: flex;
  align-items: center;
  background-color: var(--subtle-dark-1);
  border-radius: 100%;
  color: var(--dark-1);
}

.pagination__prev-inactive,
.pagination__next-inactive {
  color: rgba(105, 105, 105, 0.884) !important;
  background-color: rgba(153, 151, 151, 0.247) !important;
}

.pagination .MuiSvgIcon-root {
  width: 28px;
  height: 28px;
}

.pagination__number {
  font-size: var(--px18);
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 6px;
}

/* ===Media Query=== */
/* ================= */

@media (max-width: 800px) {
  .navbar {
    background-image: linear-gradient(
        rgba(129, 128, 128, 0.036),
        rgba(0, 0, 0, 0.023)
      ),
      url(@assets/moonlit-nights-1878-by-ivan-aivazovsky-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;
    margin-top: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .navbar__container,
  .nav__left,
  .nav__right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav__right a,
  .nav__left a {
    text-align: center;
    background: none;
    border: none;
    box-shadow: none;
    font-size: var(--px30);
    font-weight: 800;
    text-shadow: 1px 0px 2px rgba(133, 131, 131, 0.367),
      -1px 0px 2px rgba(133, 131, 131, 0.367),
      0px 2px 2px rgba(133, 131, 131, 0.367);
    color: var(--light-1);
  }

  .nav__right a:hover {
    background: none;
    color: #bdbf73;
  }

  .blog__container {
    display: flex;
    flex-direction: column-reverse;
  }

  .blog__content-center {
    margin: 0;
  }

  .blog__list-container {
    width: 95%;
  }

  .blog__content-right {
    display: none;
  }
}

/* === Footer === */
/* ============== */

.footer {
  position: fixed;
  bottom: 0;
  text-align: right;
  padding-right: 20px;
  width: 100%;
  background-color: var(--footer);
}

/* === Katex === */
/* ============= */

.katex {
  font-size: 18px !important;
}

/* === Fragment === */
/* ================ */

.fragment__container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--px24);
}

.fragment__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: var(--px14);
  margin-right: var(--px14);
}

.fragment__content > p {
  font-size: var(--px24);
  margin-bottom: var(--px14);
  font-weight: 800;
}

.fragment__content > div {
  width: 100%;
  max-width: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fragment__item {
  background: var(--navbar-span);
  border: 1px solid var(--subtle-dark-1);
  padding: var(--px18);
  margin-bottom: var(--px24);
}

/* === Archive === */
/* ================ */
.archive__container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--px24);
  max-width: 48rem;
}

.search__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: var(--px14);
  margin-right: var(--px14);
}
.search__bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--px12);
}

.search__bar input {
  padding: var(--px12) var(--px12);
  font-size: var(--px20);
  border-radius: var(--px6);
  border: 1px solid var(--subtle-dark-1);
  width: 70%;
  outline: none;
  font-family: var(--font-family-text);
}

.search__result {
  width: 75%;
}

.search__result a {
  text-decoration: none;
  color: var(--dark-1);
}

.search__result h1 {
  border-bottom: 3px solid var(--subtle-dark-1);
}

.search__result p {
  font-size: var(--px20);
}

.search__result span {
  background-color: var(--hover-1);
}

.search__bar .MuiSvgIcon-root {
  margin-left: var(--px12);
  font-size: var(--px36);
  color: var(--dark-1);
}
